.container {
    max-width: 1280px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.directive button {
    padding: 8px;
    background-color: #ccc;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 175px;
    margin-bottom: 8px;

    &.active {
        background-color: red;
        color: #fff;
    }
}

.numbers-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    p {
        min-width: 32px;
        padding: 4px;
        border-radius: 4px;
        margin: 3px;

        &.active {
            background-color: red;
            color: #fff;
        }
    }
}
