<div class="container">
  <h5>What is Angular?</h5>
  <ul>
    <li>Opensource JS Framework</li>
    <li>Created and maintained by google</li>
    <li>Completely written in TS</li>
    <li>Best for developing Single Page Applications</li>
  </ul>

  <h5>What is TypeScript?</h5>
  <ul>
    <li>TS is Superset of JS</li>
    <li>Gets complied into JS at the End</li>
    <li>Its add types to JS</li>
  </ul>

  <h5>Angular folder structure...</h5>
  <p>E2E</p>
  <ul>
    <li>End to End testing</li>
  </ul>
  <p>Node Modules</p>
  <ul>
    <li>Dependencies get installed here...</li>
  </ul>
  <p>Git Ignore</p>
  <ul>
    <li>whatever files listed out here will be ignored by git...</li>
  </ul>
  <p>Angular.json</p>
  <ul>
    <li>If you need to add any external css framework like bootstrap or Js file or asstet folder you can use this
      space...</li>
  </ul>
  <p>Karma config.js</p>
  <ul>
    <li>This file also for testing</li>
  </ul>
  <p>Package.json</p>
  <ul>
    <li>when we do npm install in command npm use this files to install dependencies...</li>
    <li>when we install external library thorugh npm i package.json will be updated...</li>
    <li>Package lock.json file will be updated when ever we do operations in npm</li>
  </ul>
  <p>tsconfig.app.json & tsconfig,json</p>
  <ul>
    <li>Both are used for typescript configuration</li>
    <li>tsconfig.app.json Application specific</li>
    <li>tsconfig.app.json Wrokspace specific</li>
  </ul>
  <p>Main.ts</p>
  <ul>
    <li>Which is main the starting point of our application...</li>
  </ul>
  <p>what is happening when we give ng serve/npm run start</p>
  <ul>
    <li>The development server is started and it source the index.html file</li>
    <li>When the server is started it looking for the entry point in the angular.json which is nothing but the "main"
      the cli has pointed the main.ts file in the source folder...</li>
    <li>If we look at the main.ts file i can see the app module getting bootstrap. App module also called route
      module... Every angular application will have a route module and that will be a first module which gets loaded
      when application is started...</li>
  </ul>
  <p>Components</p>
  <ul>
    <li>Components are the basic building block of an angular</li>
    <li>It's where you write your bind code</li>
    <li>Binds the View and model</li>
  </ul>
  <p>Data Binding</p>
  <ul>
    <li>Communication b/w typescript Component and the html template</li>
    <li>types of data binding :</li>
    <ul>
      <li>String Interpolation --> Send data from TypeScript component to Html template</li>
      <li>Property Binding [] --> we can directly bind the values to the property ex: [src] for image tag</li>
      <li>Event Binding () --> pass the data from html template to typescript ex: input value pass to typescript from
        html... Also used for mouse movement keyup clicks and etc </li>
      <li>Two way Binding [()] --> By using ngModel to bind data both direction</li>
    </ul>
  </ul>

  <p>Directives</p>
  <ul>
    <li>It helps to attach behaviour to your html DOM.</li>
    <ul>
      <li>Structural Directives --> Modify the DOM</li>
      <li>Attribute Directives --> Modify the Properties of the DOM</li>
    </ul>
  </ul>

  <div>
    <h2>Data Binding</h2>
    <input type="text" [(ngModel)]="inputValue">
    <br>
    <br>
    {{inputValue}}
    <br>
    <br>
    <button [disabled]="btnDisabled" (click)="onSubmit()">Submit</button>
  </div>

  <div>
    <h2>Directives</h2>
    <div class="d-flex">
      <div>
        <button (click)="clickedNumber(2)" [class.active]="selctedNumber === 2">Numbers divided by 2</button>
        <button (click)="clickedNumber(3)" [class.active]="selctedNumber === 3">Numbers divided by 3</button>
        <button (click)="clickedNumber(5)" [class.active]="selctedNumber === 5">Numbers divided by 5</button>
        <button (click)="clickedNumber(10)" [class.active]="selctedNumber === 10">Numbers divided by 10</button>
        <button [disabled]="buttonDisabled" (click)="clear()">Clear</button>
      </div>
      <div class="numbers-list">
        <p *ngFor="let number of numbers; let i = index"
          [ngClass]="{
            'active': (i + 1) % selctedNumber === 0
          }"
        >{{i+1}}</p>
      </div>
    </div>
    <div [ngSwitch]="selctedNumber">
      <p *ngSwitchCase="2">Numbers highlighted above are divisible by 2</p>
      <p *ngSwitchCase="3">Numbers highlighted above are divisible by 3</p>
      <p *ngSwitchCase="5">Numbers highlighted above are divisible by 5</p>
      <p *ngSwitchCase="10">Numbers highlighted above are divisible by 10</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
